/* メディアクエリ */
/* タブレット向け */
@media(max-width:1000px){

  .title-left img{
    width: 200px;
    height: 130px;
    margin-top: 10px;
  }

  .setumei-gazou{
    margin: 0;
  }

  .grid{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    margin: 0;
  }

  .zisseki img{
    width: 100%;
  }

  .setumei-gazou img{
    width: auto;
    margin-top: 10px;
  }

  .itiran img{
    width: 300px;
    margin: 0 30px;
  }

  .honoo img{
    max-width: 100%;
  }

  .foot-left img{
    width: 80%;
  }
  
  .foot-left2 img{
    width: 80%;
  }

  .setumei{
    /* margin-top: 50px; */
  }

  .main-title h2{
    font-size: 25px;
  }

  .hatu{
    font-size: 25px;
  }

  .enter{
    margin-bottom: 15px;
  }

  .online{
    font-size: 30px;
    padding: 20px 0px 30px 20px;
  }

  .sp_br{
    display: inline-block;
  }

  .main-title{
    height: 100%;
    background-size:cover;
    text-align: center;
    padding:0 0 7% 0;
  }

  .url{
    font-size: 18px;
  }

  .tokutyou{
    font-size: 16px;
    line-height: 1.6;
  }

  .tokutyou li{
    font-size: 14px;
  }

  .memo-left2 h3{
    font-size: 18px;
  }

  .memo-left2{
    margin-top: 30px;
  }

  .mozi{
    font-size: 18px !important;
    /* padding-top: 30px; */
    margin-bottom: 100px;
    color: black !important;
  }

  .form li{
    line-height: 2;
    text-align: left;
    font-size: 18px;
  }

  .dounyuu{
    font-size: 18px;
  }

  .wrapper{
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0 4%;
  }

  .who{
    font-size: 25px;
  }

}

@media(max-width:670px){
  .wrapper{
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0 4%;
  }

  .foot-left2{
    padding-bottom: 20px;
  }

  .grid3{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    margin: 0;
  }

  .step{
    width: 300px;
  }

  .foot-left{
    padding-bottom: 20px;
  }

  .online{
    font-size: 30px;
    padding: 0;
  }

  .grid , .memo-left2 , .container, .container2 , .top-title{
    flex-direction: column;
    align-items: center;
  }

  .grid{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    /* margin: 0 auto; */
    width: 100%;

  }

  .item{
    /* width: 100%; */
    /* margin-right: 50px; */
  }

  .item ,.setumei{
    width: 100%;
  }

  .title-left img{
    width: 300px;
    height: 230px;
    margin-top: 100px;
  }

  .setumei-gazou img{
    margin: 0;
    width: auto;
    /* width: 100%; */
    margin-top: 10px;
    height: 450px !important;
  }

  .itiran img{
    width: 100%;
    width: 300px;
  }

  .foot-left img{
    width: 100%;
    margin: 15px 0;
  }
  
  .foot-left2 img{
    width: 80%;
  }

  .online{
    /* width: 100%; */
  }

  .clear{
    clear:left;
  }


  .setumei{
    /* margin-top: 50px; */
    margin-bottom: 50px;
  }

  .main-title h2{
    font-size: 22px;
  }

  .hatu{
    font-size: 22px;
  }

  .enter{
    margin-bottom: 15px;
  }

  .sp_br{
    display: inline-block;
  }

  .main-title{
    height: 100%;
    background-size:cover;
    text-align: center;
    padding:0 0 7% 0;
  }

  .url{
    font-size: 18px;
  }

  .honoo{
    margin-top: 350px;
  }

  .tokutyou{
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 50px;
  }

  .setumei-gazou iframe{
    width: 300px;
    height: 200px;
    margin: 30px auto 50px auto;
  }

  .memo-left2 h3{
    font-size: 18px;
  }

  .mozi{
    font-size: 18px !important;
    /* padding-top: 30px; */
    margin-bottom: 100px;
    color: black !important;
  }

  .form li{
    line-height: 2;
    text-align: left;
    font-size: 18px;
  }

  .dounyuu{
    font-size: 18px;
  }

  .who{
    font-size: 22px;
  }}

  @media(max-width:350px){
    .grid{
      display: grid;
      gap: 10px;
      grid-template-columns: 1fr;
    }

    .itiran img{
      margin: 15px 0 0 0;
    }

    .honoo img{
      height: 400px !important;
    }

    .main-title h2{
      font-size: 19px;
    }
  }

/* *は全ての要素に適応 */
/* border-boxはwidthの合計にpaddingやborderを含む */
/* 未然にレイアウト崩れを防ぐことができる */
*{
  box-sizing: border-box;
}

/* 追従する要素 */
.sticky {
  posttion: -webkit-sticky;
  position: sticky;
  top: 10px;
}


.container {
  padding: 1%;
}

.header,
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background: #eee;
}

.content1 {
  display: flex;
  padding: 20px 0;
}

.main1 {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2000px;
  margin-right: 10px;
  background: #ccc;
  background: linear-gradient(to bottom, #eeeeee 0%,#B7EAE0 100%);
}
.side1 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  margin: 0 auto;
  width: 200px;
  height: 80px;
  color: #fff;
  background:#ffbf1f;
  border-radius: 5px;
}

.side1 a{
  color: black;
  text-decoration: none;
}